@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
	font-family: 'Montserrat', 'Roboto', sans-serif;
    
}



img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}


html, body {
	height: 100%;
	font-family: 'Montserrat', 'Roboto', sans-serif;
	background-image: radial-gradient(circle at center center, rgb(155,48,255),rgb(85,26,139));
	background-size: cover;
	background-color: #551A8B; 
}

header {
	position: sticky;
	background-color: #323232;
	height: 100px;
	top: 0;
	border-bottom: 10px solid #9B30FF;
	width: 1920px;
}

img{ cursor: pointer;}

a {
	text-decoration: none;
	color: #F0F0EF;
}

li {
	cursor: pointer;}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all .2s ease;
	transform: scale(1.5);
}
nav ul li a:hover {
	color: #9B30FF;
	border-bottom: 3px solid #ffffff;
	padding-bottom: 5px;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}



/*Common page elements  */
.button {
	background-color: #454545;
	color: #323232;
	cursor: pointer;
}

.button:hover{
	transition: all .5s ease;
	color: #9B30FF;
}
.button:hover {
	border-bottom: 5px solid #AAAAAA;
	transition: all .5s ease;
}



/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 1920px.
1920px would fit a large monitor or tv. Sizes will vary depending on the projects
you work on and the intended audience */

#container {
	
	margin: 0 auto;
	width: 1920px;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(12, 122px);
	grid-column-gap: 16px;
	padding-left: 140px;
	padding-right: 140px;
	
}

/* header styling */

header nav { position: relative; }


#header-logo {
	grid-column: 1/2;
	padding-top: 20px;
	width: 50px;
}

#main-nav {
	grid-column: 7/-1;
	margin-top: 30px;
}

#main-nav ul{
	padding: 0;
}

#main-nav li{
	display: inline;
	margin-left: 100px;
	font-weight: 400;
	font-style: normal;
	font-size: 23px;
}

.button h3 {
	text-align: center;
	font-size: 25px;
	color: #9B30FF;
	font-weight: 500;
	font-style: normal;

	margin-top: 20px;
}
.button h3:hover {color:#4d4d4d;}


#hero {
	margin-top: 100px;
}

#hero-text {
	grid-column: 1/8;
	height: 582px;
	margin-right: 66px;
	text-align: left;
	color: #fff;
}

.hero-text h2{
	font-weight: 400;
	font-style: normal;
	font-size: 55px;
	margin-top: 0;
	margin-bottom: 0;
}

.hero-text h2>span {
	font-size: 100px;
}

.hero-text h3 {
	font-weight: 700;
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 50px;
}

.hero-text p {
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
	line-height: 1.4;
	margin-bottom: 10px;
}

#hero-image {
	grid-column: 8/-1;
	height: 582px;
}


#learn-more1, h4:hover {	
	
	transition: all .3s ease;}

#learn-more1 h4 {
	
	width: 200px;
	padding: 20px;
	border-radius: 1rem;
	text-align: center;
	font-weight: 700;
	font-style: normal;
	font-size: 25px;
	margin-top: 30px;

	background-color: #ffffff;
}

#learn-more2, h4:hover {	
	
	transition: all .3s ease;}

#learn-more2 h4 {
	
	width: 200px;
	padding: 20px;
	border-radius: 1rem;
	text-align: center;
	font-weight: 700;
	font-style: normal;
	font-size: 25px;
	margin-top: 30px;

	background-color: #ffffff;
}


#our-catalog h2 {
	grid-column: 5/9;
	text-align: center;
	margin-top: 140px;	
	margin-bottom: 50px;
	font-size: 50px;
	color: #ffffff;
	padding-top: 100px;
	
}


#polo-shirt {
	grid-column: 1/5;
	/* Remove as content will dictate height */
	height: 330px;
}

#mens-casual {
	grid-column: 5/9;
	/* Remove as content will dictate height */
	height: 330px;
	background-color: #551A8B;

}

#custom-taylor {
	grid-column: 9/-1;
	/* Remove as content will dictate height */
	height: 330px;
}

.catalog {
	color: #ffffff;
	font-size: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	background-color: #9B30FF;
}


/* About Us section goes here */

#about_us {
	grid-column: 4/10;
	display: inline-block;
	color: #DDDDDD;
	font-size: 25px;
	
	margin-top: 170px;
	padding: 0;
}

#about_us h2 {
	grid-column: 4/10;
	text-align: center;	
	font-size: 50px;
	margin-bottom: 50px;	
	color: #ffffff;
}

#tailors {
	background-color: #9B30FF;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: inset 0 0 20px #000000;
	padding-left: 0;
	width: 1920px;
	height: 824px;
}



#about-text {
	grid-column: 1/8;
	font-weight: 500;
	font-style: normal;
	height: 700px;
	margin-right: 65px;
	
	color: #ffffff;
}

#about-title {
	font-weight: 700;
	font-style: normal;
	text-align: left;
	font-size: 50px;
	margin-bottom: 0;
	margin-top: 100px;
}

#about-p {
	font-size: 25px;
	line-height: 1.4;
	margin-top: 50px;
	margin-bottom: 100px;
}

#about-image {
	grid-column: 8/-1;
	height: 700px;
	width: 674;
	margin-top: 60px;
}

#read_button h4 {
	grid-column: 1/3;
	padding-top: 20px;
}


/* contact styling goes here */


#contact {
	margin-top: 125px;
	margin-bottom: 100px;
}

#contact-text {
	grid-column: 1/7;
	
	height: 700px;
	text-align: left;
}

#contact-title {
	color: #ffffff;
	font-size: 50px;
	font-weight: 700;
	font-style: normal;
	margin-top: 0;
	margin-bottom: 10px;
}


#contact-form {
	grid-column: 8/-1;
	box-shadow: inset 0 0 10px #000000;
	height: 680px;
	background-color: #9B30FF;
}

.input_box {
	margin-top: 90px;
	padding-left: 90px;
}

.contact-box input {
	border: none;
	border-radius: 5px;
	height: 40px;
	width: 494px;
	margin-bottom: 15px;
}

#message {
	height: 190px;
	margin-top: 50px;
}

#submit {
	background-color: #101010;
	width: 160px;
	font-weight: 700;
	font-style: normal;
	font-size: 25px;
	margin-top: 50px;
	color: #ffffff;
}


input[type="text"] {font: size 20px;}
input[type="email"] {font: size 20px;}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #000000d0;
	font-size: 20px;
	margin-left: 10px;
	opacity: 1; /* Firefox */
}

#submit:hover {
	color: #000000;
	background-color: #ff0000;
	transition: all .2s ease;}


/*footer goes here */

.container{
	max-width: 1920px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer{
	width: 1920px;
	background-color: #323232;
    padding: 70px 130px;
}

#footer-logo{
	width: 240px;
	height: 100%;
	margin-right: 5.5rem;
}

.footer .newsletter{
	border: none;
	border-radius: 5px;
	height: 40px;
	width: 280px;
	margin-bottom: 5px;
}

.footer .submit-ft{
	border-radius: 5px;
	background-color: #101010;
	width: 160px;
	height: 40px;
	font-weight: 700;
	font-style: normal;
	font-size: 25px;
	margin-top: 5px;
	color: #ffffff;
}

.footer-col{
	grid-column: 1/8;
   	width: 20%;
   	padding: 0 10px;
}

.footer-col h4{
	font-size: 25px;
	color: #9B30FF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 700;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:10;
	bottom: -10px;
	background-color: #ffffff;
	height: 3px;
	box-sizing: border-box;
	width: 80px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 25px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 500;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 45px;
	width: 45px;
	margin-top: 10px;
	margin-right: 15px;
	text-align: center;
	line-height: 40px;
	color: #ffffff;
	transition: all 0.5s ease;
	border-radius: 20%;
	
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #9B30FF;
}



@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


/* gallery page */

#gallery {
	grid-column: 1/-1;
}

#gallery-hero {
	grid-column: 1/-1;
	background-color: #00000093;
	background-image: url(../images/gallery/desk/shoes-close-\ front.jpg);

	background-blend-mode: multiply;
	height: 550px; width: 1920px;

}

#hero_title {
	font-weight: 700;
	font-style: normal;
	text-align: left;
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 50px;
	color: #ffffff;
}

#gallery-text span{
	font-size: 90px;
}

#gallery-text {
	grid-column: 1/9;
	font-size: 25px;
	line-height: 1.4;
	color: #ffffff;
	margin-top: 50px;
	
}

#gallery-controls {
	margin-top: 140px;
	grid-column: 6/8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dot {
	background-color: #8b8b8bd6;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin: 10px;
}

#dot1{ background-color: #f0f0f0;
}

.item-class {
	text-align: center;
	font-size: 25px;
	margin-top: 30px;
	margin-bottom: 0;
}

.gallery_text {
	text-align: center;
	font-size: 25px;
	margin-top: auto;
}

#gallery h2 {
	grid-column: 1/-1;
	font-size: 50px;
	margin-top: 80px;
	margin-bottom: 50px;
	text-align: center;

	color: #ffffff;
}

.gallery-box {
	background-color: #9B30FF;
	color: #ffffff;
	grid-column: span 4 / span 4;
	height: 400px;
	margin-bottom: 80px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;

}

#gallery {margin-bottom: 70px;}